@model IEnumerable<ProyectoFinal.Models.Empleados>

@{
    ViewBag.Title = "ListadoEmpleados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<h2>ListadoEmpleados</h2>

<p>
    @Html.ActionLink("Crear nuevo", "CreateEmpleado")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TandaLabor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaIngreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TandaLabor)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmpleadoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EmpleadoId })
        </td>
    </tr>
}
</table>
