@model IEnumerable<ProyectoFinal.Models.Clientes>

@{
    ViewBag.Title = "ListadoClientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<br />

<p>
    @Html.ActionLink("Crear nuevo", "CreateCliente")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoTarjetaCr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LímiteCredito)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoPersona)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoTarjetaCr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LímiteCredito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoPersona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PersonaId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PersonaId })
            </td>
        </tr>
    }

</table>
