@model ProyectoFinal.Models.Vehiculos

@{
    ViewBag.Title = "EditVehiculos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EditVehiculos</h2>


@using (Html.BeginForm("EditVehiculoAction", "Mantenimiento"))
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">
        <h4>Vehiculos</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.NoChasis, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NoChasis, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NoChasis, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descripción, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descripción, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descripción, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NoPlaca, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NoPlaca, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NoPlaca, "", new { @class = "text-danger" })
            </div>
        </div>
        @* DropDowns *@
        <div class="form-group">
            @Html.LabelFor(model => model.Marca, "Marca", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MarcaId", new SelectList(@ViewBag.Marca, "MarcaId", "MarcaName", "Select Group"), new { @class = "btn btn-default dropdown-toggle", Style = "width: 280px" })
                @Html.ValidationMessageFor(model => model.MarcaId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ModeloId, "Modelo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ModeloId", new SelectList(@ViewBag.Modelo, "ModelosId", "ModelosName", "Select Group"), new { @class = "btn btn-default dropdown-toggle", Style = "width: 280px" })
                @*@Html.DropDownList("MarcaId", new SelectLisViewBag.Marcas, htmlAttributes: new { @class = "form-control" })*@
                @Html.ValidationMessageFor(model => model.ModeloId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TipoVehiculo, "Tipos de vehiculos", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TipoVehiculoId", new SelectList(@ViewBag.TipoVehiculo, "TipoId", "Descripcion", "Select Group"), new { @class = "btn btn-default dropdown-toggle", Style = "width: 280px" })
@*              @Html.EditorFor(model => model.ModeloId, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.TipoVehiculoId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TipoCombustibleId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TipoCombustibleId", new SelectList(@ViewBag.TipoCombustible, "TipoId", "Descripcion", "Select Group"), new { @class = "btn btn-default dropdown-toggle", Style = "width: 280px" })
@*              @Html.EditorFor(model => model.TipoCombustibleId, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.TipoCombustibleId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.Estado, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
